<ion-view view-title="Feeds">
  <ion-content ng-controller="FeedsCtrl">

    <ion-refresher on-refresh="doRefresh()"></ion-refresher>
    <div class="row responsive-lg">
      <ion-list>
        <div class="list card"  ng-repeat="feed in feeds" >
          <div class="item item-body">
            <div class="article-image">
              <a href="#/tab/feed/{{feed.id}}"><img class="full-image" src="{{feed.images.cover}}"  ></a>
            </div>
            <p>{{feed.caption}}</p>
            <p>
              <a href="javascript:void(0)" class="con-counts ion-ios-star-outline"> {{feed.votes.count}}</a>
              <a href="#/tab/feed/{{feed.id}}" class="con-counts ion-ios-chatbubble-outline"> {{feed.comments.count}}</a>
            </p>
          </div>
        </div>
      </ion-list>
    </div>
    <ion-infinite-scroll on-infinite="loadMore()" distance="3%"></ion-infinite-scroll>
  </ion-content>
</ion-view>
